.item-question {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
}

.correct {
  border-color: greenyellow;
  background-color: rgba(131, 174, 116, 0.495);
}

.wrong {
  border-color: rgb(255, 54, 47);
  background-color: rgba(243, 132, 120, 0.495);
}

.title {
  margin-bottom: 20px;
}

.progress {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;
  & div {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(
      90deg,
      rgba(18, 231, 48, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}
